[Unit]
Description={{ springboot_application_name }}
After=syslog.target

[Service]
User={{ springboot_user }}
ExecStart="/bin/bash {{ springboot_deploy_folder }}/{{ springboot_application_name }}.jar"
Environment=SPRING_CONFIG_LOCATION={{ springboot_deploy_folder }}/application.yml
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
